@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "User Management";
}

<h2>@ViewData["Title"]</h2>



<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    
                    <a class="btn btn-warning" asp-controller="UserManagement" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="UserManagement" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
